<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>ThunderHQ | Statements</title>
    <link rel="icon" type="image/png" href="/images/tbird.png" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen flex">

<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main Content -->
<div class="ml-64 flex-1 p-8">
    <main>
        <div class="w-full h-full bg-white p-8 space-y-2 rounded shadow-md">
            <h1 class="text-2xl border-b p-2 font-semibold">Members</h1>

            <!-- Popup Modal -->
            <button onclick="toggleModal('form')" class="flex items-center px-4 py-2 rounded hover:bg-blue-100 text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-3">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                Create a new member
            </button>
            <div th:replace="fragments/member-form-popup :: popup('form')"></div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div th:each="member : ${members}">
                    <div th:replace="fragments/member-card :: memberCard"></div>
                </div>
            </div>

            <p th:text="'Displaying ' + ${members.size()} + ' members'"></p>
        </div>
    </main>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="/js/popup.js"></script>

</body>
</html>
